/* 

  STYLESHEET
  
  COLOUR KEY:
  #000 - Solid Black
  #111 - Very Dark Grey
  #eeeddd - Light Green

*/

/* BEGIN SECTION WHICH SETS GENERAL PAGE STYLES */

* {margin:0; padding: 0;} 
a,a:visited {color: #111;}
a:hover,a:active {border-bottom: 2px solid #000;}
ul {list-style: inside;}
fieldset {border: 0px;}
body {background: #111; font-family: Helvetica, sans-serif; }

#main-wrapper {width: 1050px; margin: 20px auto; background: #FFF;  padding: 20px; }

#header h1 a {font-size: 60px; font-weight: 502; }
#header em {font-size: 40px; font-style: normal;} 

/* NAVIGATION STYLES */

#primary-links {background: #eeeddd; margin: 0 -20px; padding: 5px; height: 25px; }
#primary-links  li {display: inline;}
#primary-links a {font-size: 20px; }
#alternative-links li {display: inline; }
#alternative-links a {font-size: 14px; }
.common-between-header-and-footer-navs-to-allow-styles-set-for-both-to-only-be-declared-once {display: block; list-style: none;}
.common-between-header-and-footer-navs-to-allow-styles-set-for-both-to-only-be-declared-once a {text-decoration: none; padding: 0 4px;}
.current-page-link {border-bottom: 2px solid #000; font-weight: 700; }

#main-content-section {float: left; width: 750px;}
#sidebar {float: right; margin: 20px 0 0 0; width: 254px; padding: 10px; font-size: 14px; border-left: 4px solid #000; }
#footer {clear: both; background: #eeeddd; margin: 1px -20px; text-align: center; }
#footer p {font-weight: bold;}

/* GENERAL TEXT STYLES */

h1,h2,p {margin: 15px 0px;}
p {line-height: 22px; }